<%- content_for(:title) { concat "Edit Shipping Method" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= link_to "Shipping Methods", admin_shipping_methods_path %> &gt;
  <%= yield :title %>
<%- end -%>

<h1><%= yield :title %></h1>

<% form_for :shipping_method, :url => admin_shipping_method_path(@shipping_method), :html => { :onsubmit => "form_submitted();", :method => :put } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>