<%- content_for :title do -%>Shipping Methods<%- end -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  Shipping Methods
<%- end -%>

<h1><%= yield :title %></h1>

<p>
  <%= icon "Plus" %>
  <%= link_to "Add a new shipping method", new_admin_shipping_method_path %>
</p>

<table cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th class="center">Options</th>
    </tr>
  </thead>
  <tbody>
    <%- for s in @shipping_methods -%>
    <tr id="<%= dom_id s %>">
      <td><%= link_to h(s.name), edit_admin_shipping_method_path(s) %></td>
      <td><%= number_to_currency s.price %></td>
      <td class="center">
        <%= icon "Write" %>
        <%= link_to "Edit", edit_admin_shipping_method_path(s) %>
        &nbsp;
        <%= trash_icon(s, admin_shipping_method_path(s), "#{s.name}")  %>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>
