- @heading = "Find a store near you"

- form_tag nil, :method => :get do
  = label_tag "q_miles", "Search within"
  = select "q", "miles", [5, 10, 15, 20, 30, 50, 75, 100], :selected => (params[:q].blank? ? 15 : params[:q]['miles'].to_i)
  = label_tag "q_zip", "miles of zip code"
  = text_field_tag "q[zip]", (params[:q].blank? ? nil : params[:q]['zip'].strip), :size => 6, :maxlength => 5
  %br
  
  = select(:q, :product, ([['- Search All Products -','']] + @products.collect { |p| [p.name, p.id] }).compact, :selected => (params[:q].blank? ? 15 : params[:q]['product'].to_i))
  =# collection_select :q, :product, @products, :id, :name, options ={:prompt => "Search All Products"}, :selected => (params[:q].blank? ? '' : params[:q]['product'])

  = submit_tag "Search", :class => "big"

- unless @stores.nil? or @stores.empty?
  %h2
    Found
    = pluralize @stores.size, 'store'
    around
    = h @zip_code.location
  
  %table.store
    %tr
      %th
        Store
      %th
        Location
    - for store in @stores
      %tr[store]
        %td= link_to h(store.name), store
        %td= h store.location
=debug @retailers
