- content_for :title do
  == #{@store.name} - #{@store.location}

- content_for :crumb do
  = link_to "Store locator", stores_path
  &gt;
  = h(@store.name)

- @heading = h @store.name
- unless @store.retailer.blank?
  = image_tag(@store.retailer.logo.url(:small)) unless @store.retailer.logo_file_name.blank?
%p
  %div= "#{h @store.address} #{h @store.address2}"
  %div= h @store.location
  %div= h @store.zip
  %br
  %div= "Phone: #{h @store.phone}"
  %div= auto_link @store.website

%p= simple_format(auto_link(h(@store.description)))

- content_for :sidecolumn do
  %h2 Map
  %div.side-column-box
    %div#google-map

= render :partial => "layouts/google_maps_includes"
