<h2>Bookmarks</h2>

<div>
  <%= icon "Email" %>
  <%= link_to "Webmail", "https://74.63.9.61:2096/", :target => "_blank" %>
  <span class="small gray">(access email using your browser)</span>
</div>

<div>
  <%= icon "Stats2" %>
  <%= link_to "Google Analytics", "http://analytics.google.com", :target => "_blank" %>
  <span class="small gray">(website traffic statistics)</span>
</div>

<div>
  <%= icon "Currency Dollar" %>
  <%= link_to "PayJunction", "http://www.payjunction.com", :target => "_blank" %>
  <span class="small gray">(payment gateway)</span>
</div>

<div>
  <%= icon "Health" %>
  <%= link_to "Ameravant", "http://ameravant.com/web-hosting-support", :target => "_blank" %>
  <span class="small gray">(for help)</span>
</div>

<div>
  <%= icon "Computer" %>
  <%= link_to "Web hosting control panel", "https://74.63.14.171:2083", :target => "_blank" %>
  <span class="small gray">(advanced hosting settings)</span>
</div>