<h2>Latest Orders</h2>

<%- unless @orders == nil or @orders.empty? -%>
  <table cellspacing="0" class="full">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Amount</th>
        <th>Placed</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3">
          <%= icon "Arrow2 Right", admin_orders_path %>
          <%= link_to "Go to all orders", admin_orders_path %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <%- for o in @orders -%>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= link_to h(o.shipping_address.name), admin_order_path(o) %></td>
        <td><%= number_to_currency o.total %></td>
        <td><%= o.created_at.to_s(:wdmdy) %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- else -%>
<p>No orders have been placed yet.</p>
<%- end -%>
