<%= error_messages_for "retailer" %>

<table cellspacing="0">
  <tr>
    <td><%= f.label :name %></td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td><%= f.label :logo %></td>
    <td><%= f.file_field :logo %>
    <%- unless @retailer.logo.blank? -%>
        <br />
        <%= link_to image_tag(@retailer.logo.url(:small)), @retailer.logo.url(:large),
          :rel => "lightbox[gallery]", :title => h(@retailer.name) %>
		<%- end -%>
    </td>
  </tr>
  <tr>
  	<td>
      <%= f.check_box :featured %>
      <%= f.label :featured, "Featured in homepage rotation" %>
  	</td>
  </tr>
</table>
<br />
<% fancy_submit admin_retailers_path do %>
  <%= f.submit "Save Retailers" %>
<% end %>
