<%- content_for(:title) { concat "Retailers" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= yield :title %>
<%- end -%>

<h1><%= yield :title %></h1>

<p class="icon">
  <%= icon "Plus", new_admin_retailer_path %>
  <%= link_to "Create a retailer", new_admin_retailer_path %>
</p>
<table cellspacing="0" class="full" style="width: 100%;">
  <thead>
    <tr>
      <th style="text-align: left;">Name</th>
      <th style="text-align: left;" class="center">Options</th>
    </tr>
  </thead>
  <tbody>
    <%- for p in @retailers -%>
    <tr id="<%= dom_id p %>" class="<%= cycle('even', 'row2') %>">
      <td><%= link_to h(p.name), edit_admin_retailer_path(p), :title => "Edit this retailer" %></td>
      <td class="center">
        <%= icon "Write" %>
        <%= link_to "Edit", edit_admin_retailer_path(p) %>
        &nbsp;
        <%= image_tag("/images/icons/16x16/Trash.png", :class => "icon", :id => "#{dom_id p}_delete_icon") %>
        <%= link_to_remote "Delete",
          :url => admin_retailer_path(p),
          :method => :delete,
          :success => "$('#{dom_id p}_delete_icon').src = '/images/spinner.gif'",
          :confirm => "Really delete #{h p.name}?" %>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<%= will_paginate @retailers %>
