- content_for(:title) { concat "Add a new store" }

- content_for :crumb do
  == #{link_to "Dashboard", "/admin"} &gt;
  == #{link_to "Stores", admin_stores_path} &gt;
  = yield(:title)

%h1= yield(:title)

- form_for [:admin, @store] do |f|
  = render :partial => "form", :locals => { :f => f }
