<%- content_for :title do -%>Checkout: Billing and Payment Information<%- end -%>

<%- content_for :checkout_steps do -%>
  <%= link_to "Shipping Information", shipping_path %> &raquo;
  <span>Billing Information</span> &raquo;
  <%= link_to_unless (session[:billing_address].blank? or session[:card].blank?), "Review Order", checkout_path %> &raquo;
  Finished
<%- end -%>

<%= error_messages_for "billing_address", "card", :header_message => "Sorry, we were unable to continue." %>

<% form_for @billing_address, :html => { :onsubmit => "form_submitted('Validating your billing information...')" } do |f| %>

  <div class="col-left">
    <h1>Payment Information</h1>
    <div class="box">
      <%- if !session[:card].blank? and session[:card]['card_number'].match(/XXX/) -%>
      <div class="bold">
        <%= icon "Info2" %>
        To change your card, enter the new card below.
      </div>
      <%- end -%>
      <div>
        <%= icon "Lock" %> For your protection, your full credit card number and security 
        code are never saved.
      </div>
    </div>
    <%= render :partial => "card_fields" %>  

    <%- fancy_submit do -%>
      <%= f.submit "Save &amp; Continue &gt;", :class => "big" %>
    <%- end -%>
  </div>
  
  <div class="col-right">
    <h1>Your Billing Address</h1>
    <%= render :partial => "shipping_addresses/address_form", :locals => { :address_type => "billing", :f => f } %>
  </div>

  <%= clear %>

<% end %>