<%- content_for :crumb do -%>
  <%= link_to "Dashboard", admin_path %> &gt;
  <%= link_to "Contacts", admin_contacts_path %> &gt;
  Contact Groups
<%- end -%>

<h1>Contact Groups</h1>

<%= error_messages_for "contact_group" %>

<%- if @contact_groups.empty? -%>
  <p>You do not have any groups yet.</p>
  <h2>Make your first group</h2>
<%- else -%>
  <%- for g in @contact_groups -%>
    <div id="<%= dom_id g %>">
      <%= link_to_remote image_tag("/images/icons/16x16/Trash.png", :id => "spinner_#{dom_id g}"),
        :url => admin_contact_group_path(g),
        :method => :delete,
        :loading => "$('spinner_#{dom_id g}').src = '/images/spinner.gif'",
        :confirm => "Are you sure you want to delete this group?" %>
      <%= h g.name.titleize %>
      <span class="gray">&mdash; <%= pluralize g.contacts_count, 'contact' %></span>
    </div>
  <%- end -%>
  <h2>Make a new group</h2>
<%- end -%>


<% form_for [:admin, @contact_group] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <p><%= f.submit "Save group" %></p>
<% end %>