<tr class="<%= cycle 'odd', 'even' %>">
  <td><%= link_to "#{h cart_item.name}", product_path("#{cart_item.id}-#{cart_item.permalink}") %></td>
  <td><% real_price cart_item %></td>
  <td class="center">
    <%- unless for_order -%>
      <% form_tag cart_item_path(cart_item.id), :method => :put do %>
        <%= text_field_tag "quantity", cart_item.quantity, :size => 2, :maxlength => 2 %>
        <%= submit_tag "Update" %> 
      <% end %>
    <%- else -%>
      <%= text_field_tag "quantity", cart_item.quantity, :size => 2, :maxlength => 2 %>
    <%- end -%>
  </td>
  <td class="right"><%= number_to_currency cart_item.total %></td>
  <%- unless for_order -%>
    <td class="center"><%= link_to icon("Trash"), cart_item_path(cart_item.id), :method => :delete, :confirm => "Really remove #{cart_item.name} from your cart?" %></td>
  <%- end -%>
</tr>
