<%- content_for(:title) { concat "My Shopping Cart" } -%>

<%- if session[:cart] -%>
<h1>My Shopping Cart</h1>

<%= render :partial => "/carts/cart_table", :locals => { :for_order => false } %>
<br/>

<p>
  <%= icon "Arrow2 Right", products_path %> <%= link_to "Continue Shopping", products_path %> &nbsp;
  <%= icon "Trash" %> <%= link_to "Empty Cart", cart_path, :method => :delete, :confirm => 'Are you sure you want to empty your entire cart?' %> &nbsp;
  <%= icon "Cart", checkout_path %> <span class="bold"><%= link_to "Check Out", checkout_path %></span>
</p>

<%- else # cart empty -%>
<p>Your shopping cart is empty.</p>
<%- end -%>