<%- content_for :title do -%>Checkout: Shipping Information<%- end -%>

<%- content_for :checkout_steps do -%>
  <span>Shipping Information</span> &raquo;
  <%= link_to_unless session[:shipping_address].blank?, "Billing Information", billing_path %> &raquo;
  <%= link_to_unless (session[:billing_address].blank? or session[:card].blank?), "Review Order", checkout_path %> &raquo;
  Finished
<%- end -%>

<%= error_messages_for "shipping_address", :header_message => "Sorry, we were unable to continue." %>

<% form_for @shipping_address, :html => { :onsubmit => "form_submitted()" } do |f| %>

<div class="col-left">
  <h1>Your Shipping Address</h1>
  <%= render :partial => "address_form", :locals => { :address_type => "shipping", :f => f } %>
</div>

<div class="col-right">
  <h1>Shipping Options</h1>
  <table cellspacing="0" class="full">
    <tr>
      <td><label for="shipping_method_id">Shipping method:</label></td>
      <td><%= select "shipping_method", "id", @shipping_methods.collect { |s| ["#{s.name} - #{number_to_currency s.price}", s.id] } %></td>
    </tr> 
  </table>
  <br/>
  <div class="box">
    <h2>Frequent Questions</h2>
    <ul>
      <li>Most orders are shipped within 2 days.</li>
      <li>Ground shipping is free to the 48 continental states.</li>
      <li>We will contact you via email if any delays are expected.</li>
    </ul>
    <h2>Other questions?</h2>
    <div><%= icon "Phone" %> Contact us by calling XXX-XXX-XXXX</div>
  </div>
</div>

<%= clear %>

<%- fancy_submit products_path do -%>
  <%= f.submit "Save &amp; Continue &gt;", :class => "big" %>
<%- end -%>

<% end %>