- content_for :head do
  %style{ :type => "text/css" }
= error_messages_for "product"
%fieldset
  %dl
    %dt.form-label
      Title:
    %dd.form-option
      = f.text_field :title, :class => "big"
    %dt.form-label
      Product SKU:
    %dd.form-option
      = f.text_field :sku
    %dt.form-label
      = f.label :featured, "Feature on main products page."
    %dd.form-option
      = f.check_box :featured
    %dt.form-label
      = f.label :display_add_cart, "Display add to cart button."
    %dd.form-option
      = f.check_box :display_add_cart
    %dt.form-label
      = f.label :active, "Active"
    %dd.form-option
      = f.check_box :active
    %dt.form-label
      = f.label :blurb
    %dd.form-option
      = f.text_area :blurb, :size => "50x5"
    -if @product.images.any? || @product.testimonials.any?
      %dt.form-label
      %dd.options
        - unless @product.images.empty?
          = render :partial => "admin/shared/image_options", :locals => {:images => @product.images}
        - unless @product.testimonials.empty?
          = render :partial => "admin/testimonials/testimonial_options", :locals => {:testimonials => @product.testimonials}
    %br
    %br
    %dt.form-label
      = f.label :description
    %dd.form-option
      = f.text_area :description, :size => "75x15", :class => "mceEditor"
    %dt.form-label
      Add to Cart Code:
    %dd.form-option
      = f.text_area :cart_code, :size => "50x5"
      %p.small.gray
        If you are using a third party shopping cart, paste the generated "Add to Cart" code here.
    %dt.form-label
      .product_options{:id => "product_options"}
        Product Options
        -if !@product.product_options.empty?
          = render :partial => 'product_option', :collection => @product.product_options 
        -else
          = render :partial => 'product_option', :object => @product.product_options.build
      = add_product_option_link "Add option"
    - unless @product_categories.empty?
      %dt.form-label
        Product Category:
      %dd.form-option
        - build_form_children(nil, @product)  

  - fancy_submit admin_products_path do
    = f.submit "Save Product"
      
  .form-option
    %h2
      Related Products
    - @products.each do |p|
      %div
        %label{ :for => dom_id(p), :style => "width:250px;"}
          = h p.name.titleize
        = check_box_tag "product[related_product_ids][]", p.id, @product.related_products.include?(p), :id => dom_id(p)    
      =clear
  - fancy_submit admin_products_path do
    = f.submit "Save Product"

