<%- content_for(:title) { concat "Products" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= yield :title %>
<%- end -%>

<h1><%= yield :title %></h1>

<p class="icon">
  <%= icon "Plus", new_admin_product_path %>
  <%= link_to "Create a new product", new_admin_product_path %>
  <%= icon "Dots Down", admin_product_categories_path %>
  <%= link_to "View Product Categories", admin_product_categories_path %>
  <%-if @cms_config['modules']['store']-%>
    <%= icon "Mail", admin_shipping_methods_path %>
    <%= link_to "View Shipping Methods", admin_shipping_methods_path %>
    <%= icon "Percent", admin_locations_path %>
    <%= link_to "Change Tax Rates", admin_locations_path %>
  <%- end -%>
</p>

<table cellspacing="0" class="full" style="width: 100%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Images</th>
      <th>Testimonials</th>
      <th class="center">Options</th>
    </tr>
  </thead>
  <tbody>
    <%- unless @products.total_pages == 1 -%>
        <%= will_paginate @products%>
    <%- end -%>
    <%- for p in @products -%>
    <tr id="<%= dom_id p %>" class="<%= cycle('row1', 'row2') %>">
      <td><%= link_to h(p.name), edit_admin_product_path(p), :title => "Edit this product" %></td>
      <td><% real_price p unless p.price.blank? %></td>
      <td><%= link_to pluralize(p.images_count, "Image"), admin_product_path(p), :title => "Manage images for this product" %></td>
    	<td><%= link_to(pluralize(p.testimonials.size, "Testimonials"), admin_product_testimonials_path(p)) %></td>
      <td class="center">
        <%- if current_user.has_role(["Admin", "Editor"]) %>
          <%- if p.images_count > 0 %>
            <%- if p.features_count > 0 %>
              <%= defeature_icon(p, "/admin/products/#{p.to_param}/features/1", p.title, "inline") %>
              <%= feature_icon(p, [:admin, p, :features], p.title, "none") %>
            <%-else %>
              <%= feature_icon(p, [:admin, p, :features], p.title, "inline") %>
              <%= defeature_icon(p, "/admin/products/#{p.to_param}/features/1", p.title, "none") %>
            <%- end -%>
          <%-else %>
            <%= disabled_feature_icon(p, [:new, :admin, p, :feature], p.title) %>
          <%- end -%>
        <%- end -%>
        <%= link_to icon("Write"), edit_admin_product_path(p) %>
        <%= trash_icon(p, admin_product_path(p), "#{p.name}") %>
      </td>
    </tr>
    <%- end -%>
  </tbody>
</table>
