- content_for :name do
= h @product.name
- end
- content_for :crumb do
= link_to "Dashboard", "/admin"
\&gt;
= link_to "Products", admin_products_path
\&gt;
= yield :name
- end
%h1
  = yield :name
%div
  #reorder_status.gray.float-right{ :style => "display: none;" }
    = spinner
    Reordering images...
    %span#reorder_success.bold.green{ :style => "display: none;" }
      Done!
    %span#reorder_failure.bold.red{ :style => "display: none;" }
      FAILED!
  %span.hmenu
    = icon "Plus", new_admin_product_image_path(@product)
    = link_to "Add a image to this product", new_admin_product_image_path(@product)
  %span.hmenu
    = icon "Gear", edit_admin_product_path(@product)
    = link_to "Edit product", edit_admin_product_path(@product)
%br
- if @images
%ul#images
  - for image in @images
  %li.image{ :id => dom_id image }
    .image-thumb
      = image_tag(image.image.url(:small), :alt => h(image.caption))
    .image-options
      = link_to icon("Search"), image.image.url(:large), :class => "icon", :rel => "lightbox[product]", :name => h(image.caption), :class => "fancy"
      = icon "Write", edit_admin_product_image_path(@product, image)
      = link_to_remote icon("Trash"), :url => [:admin, @product, image], :method => :delete, :class => "icon", :confirm => "Really delete this image? This cannot be undone."
  - end
= clear
= sortable_element :images, :constraint => false, :url => reorder_admin_product_images_path(@product), :method => :put, :loading => "$('reorder_success').hide(); $('reorder_failure').hide(); $('reorder_status').show()", :success => "$('reorder_success').show()", :failure => "$('reorder_failure').show()", :complete => visual_effect(:fade, "reorder_status", :delay => 1) if @images.size > 1
%p
  = icon "Info2"
  Reorder images by clicking and dragging them with your mouse. The first image in
  product will be used for the main product image.
- end
%br
%h2
  Want to delete this product?
%div
  = icon "Trash", [:admin, @product]
  = link_to "Yes, send this product to the trash.", [:admin, @product], :class => "red", :method => :delete, :confirm => "Really send this product to the trash?"
