<%- content_for :title do -%>
  Email Send Queue
<%- end -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", admin_path %> &gt;
  <%= yield :title %>
<%- end -%>

<h1><%= yield :title %></h1>

<%- unless @emails.empty? -%>
<p class="note-box">
  The <strong><%= pluralize(number_with_delimiter(@emails.size), 'item') %></strong> in your queue will
  take <strong><%= distance_of_time_in_words(Time.now, (@emails.size/4).minutes.from_now) %></strong>
  to be delivered.
</p>

<table>
  <tr>
    <th>To</th>
    <th class="center">Attempts</th>
    <th>Options</th>
  </tr>
<%- for e in @emails -%>
  <tr id="<%= dom_id(e) %>" class="<%= cycle('odd','even') %>">
    <td><%= h e.to %></td>
    <td class="center"><%= number_with_delimiter(e.last_send_attempt) %></td>
    <td>
      <%= link_to_remote 'Remove',
        :url => admin_email_path(e),
        :method => :delete,
        :confirm => 'Really remove this item from the queue?' %>      
    </td>
  </td>
<%- end -%>
</table>

<br/>
<%= button_to 'Clear entire queue', clear_admin_email_path(1), :method => :delete, :confirm => 'Are you sure you want to clear the entire queue?' %>

<%- else # emails empty -%>
<p>There are no items in the send queue.</p>
<%- end -%>