= error_messages_for "product_category"

%table{:cellspacing => "0"}
  %tr
    %td= f.label :name
    %td= f.text_field :name
  %tr{:class => cycle('odd', 'even')}
    %td= f.label :parent_id, "Menu placement"
    %td
      %select{:name => "product_category[parent_id]", :id => "product_category_parent_id"}
        %option{:value => ""}Select a parent category
        - for o in @options_for_parent_id
          %option{:value => o[1] , :selected => (@product_category.parent_id and o[1] == @product_category.parent_id ? "selected" : nil)}= o[0]
  %tr
    %td= f.label :description, "Blurb"
    %td= f.text_area :description, :size => "30x4"
  %tr
    %td= f.label :body, "Description"
    %td= f.text_area :body, :class => "mceEditor", :size => "70x30"

- fancy_submit admin_product_categories_path do
  = f.submit "Save Product Category"
