%li.product
  = link_to image_tag("#{cart_item.images.first.image.url(:small)}", :class => "product-image", :alt => "#{cart_item.name}"), cart_item
  %span.product-title
    = link_to cart_item.name, cart_item
    -if cart_item.sale_price
      %span.regular-price= "Price: #{number_to_currency(cart_item.price)}"
      %span.sale-price.product-price= "Sale Price: #{number_to_currency(cart_item.sale_price)}"
    -else
      %span.product-price= "Price: #{number_to_currency(cart_item.price)}"
  %br
  -if @cms_config["site_settings"]["google_merchant_id"]
    %div.googlecart-add-button{:role=>"button", :alt=>"Add to cart", :tabindex=>"0", :style => "position: relative;"}
