<%- content_for(:meta_title) { concat "Store" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Home", "/" %> &gt;
  <%= yield :title %>
<%- end -%>

<%= render :partial => "sidecolumn2" %>


<h1>Products</h1>
<ul class="product-list">
  <%- for p in @products -%>
    <li class="product">
      <%= render :partial => "product", :locals => { :product => p } %>
    </li>
  <%= cycle("", "", "<li class=\"clear\"></li>") %>
  <%- end -%>
</ul>

